@import url('https://use.typekit.net/enx5ndn.css'); /* Import a font from Adobe Typekit */
/* General Element Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-size: 18px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #fafafa;
}
/* Generic Modal Elements */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.7);
  padding: 32px;
  border-radius: 8px;
  display: none;
}
.modal.active {
  display: block;
}
/* Buttons */
.btn {
  padding: 10px 15px;
  font-family: inherit;
  font-size: 22px;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  background: #ad1457;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px 0;
}
.btn:hover {
  background: #880e4f;
}
.btn:focus {
  border: 2px solid #222222; /* Nice and easy to see focus indicators to improve accessibility*/
}
fieldset {
  border: none;
  padding: 20px;
}
input[type='radio'] + label {
  font-size: 24px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
}
#game-difficulty label {
  margin: 4px 8px;
}
/* Snazzy custom radio buttons */
#game-difficulty input[type='radio'] {
  position: absolute;
  left: -10000px;
}
#game-difficulty input[type='radio'] + label {
  padding-left: 40px;
  position: relative;
}
#game-difficulty input[type='radio'] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #dedede;
}
#game-difficulty input[type='radio']:focus + label::before {
  background: #ccc;
}
#game-difficulty input[type='radio']:focus + label {
  font-weight: bold;
}
#game-difficulty input[type='radio']:checked + label::before {
  background: #14ad6a;
}
#game-difficulty input[type='radio']:checked + label::after {
  position: absolute;
  top: 9.5px;
  left: 5px;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}
#choose-char input[type='radio'] {
  position: absolute;
  left: -10000px;
}
#choose-char input[type='radio'] + label img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#choose-char input[type='radio']:focus + label {
  background: #14ad6a;
  border: 3px solid #555;
}
#choose-char input[type='radio']:checked + label {
  background: #14ad6a;
}
#choose-char input[type='radio']:focus + label img,
#choose-char input[type='radio']:checked + label img {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}
/* The game stats modal thing */
#game-stats {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #14ad6a;
  display: none;
  text-align: left;
  padding: 16px;
  color: #fff;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
}
/* New Game Button container */
#new-game-container {
  position: fixed;
  left: 25px;
  bottom: 25px;
  padding: 16px;
  display: none;
}
#win-popup {
  display: none;
  font-size: 24px;
}
